---
import Layout from "../layouts/Layout.astro";


---
<style>
	body {
		background-image: url(../../public/img/fons.gif);
		background-repeat: no-repeat !important;
		background-size: cover !important;
		color: white;
	}
</style>


<Layout>

	<h1>Benvinguts!</h1>


</Layout>