---
import Layout from "../layouts/Layout.astro";

import PlatController from "../controllers/PlatController";
import Plat  from "../components/Plat.astro";
let platController = new PlatController();

let menu = await platController.getMenu()

let entrants = menu.filter(plat => plat.Tipus==="Entrants");
let principals = menu.filter(plat => plat.Tipus==="Principals");
let postres = menu.filter(plat => plat.Tipus==="Postres");
---


<Layout>

	<h1>MENU</h1>

	<h2>Entrants</h2>
	{
		entrants.length ? entrants.map(plat => <Plat dades={plat} />) : <div></div>
	}
	<h2>Principals</h2>
	{
		principals.length ? principals.map(plat => <Plat dades={plat} />) : <div></div>
	}
		<h2>Postres</h2>
	{
		postres.length ? postres.map(plat => <Plat dades={plat} />) : <div></div>
	}

</Layout>